cmake*
.idea/
.DS_store
*.dSYM
*.o

# Ignore all executables (no extension files)
*
!*.*
!*/

# we want to track these no extension files 
!Makefile
!LICENSE
!/executables/hoard/libhoard.dylib
/Code/cmake-build-debug
/Code/.idea
test/.idea/workspace.xml
.DS_Store
